<template>
  <div class="col-md-12">Leave The Review</div>
  <div class="col-md-12">
    <form action="" @submit.prevent="onsubmit">
      <div class="col-md-12">Data pelanggan : {{ dataPelanggan }}</div>
      <div class="col-md-6">Name :{{ name }}</div>
      <div class="col-md-6">Review : {{ review }}</div>
      <div class="col-md-6">Rating: {{ rating }}</div>
      <label for="name">Name</label>
      <input class="form-control" type="text" name="name" id="name" v-model="name" />
      <label for="review">Review</label>
      <textarea class="form-control" name="review" id="review" v-model="review"></textarea>
      <label for="rating">Rating</label>
      <select class="form-control" name="rating" id="rating" v-model.number="rating">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <button type="submit" class="btn btn-info mt-2">Simpan</button>
    </form>
  </div>
</template>

<script setup lang="ts">
const name = ref('')
const review = ref('')
const rating = ref(0)
const dataPelanggan = ref({})
const onsubmit = () => {
  dataPelanggan.value = {
    nama: unref(name),
    review: review.value,
    rating: rating.value
  }
  name.value = ''
  review.value = ''
  rating.value = 0
}
</script>
