<template>
  <button :style="{ backgroundColor: warna }" @click="dipencet">
    {{ angka }} - {{ coba }} -{{ arrayCoba }}
    <slot />
  </button>
</template>

<script lang="ts">
import { Color, ArrayCoba } from '~/utils/Types'

type Coba = {
  id: number
  text: string
}
// type ArrayCoba = {
//   id: number
//   nama: string
//   umur: number
//   status: boolean
// }[]

export default defineComponent({
  props: {
    warna: {
      type: String as PropType<Color>,
      required: true
    },

    angka: {
      type: Number,
      required: true
    },

    coba: {
      type: Object as PropType<Coba>,
      required: true
    },
    arrayCoba: {
      type: Array as PropType<ArrayCoba>,
      required: false
    }
  },

  setup(props, context) {
    const dipencet = () => {
      context.emit('emit-dipencet', props.warna)
    }

    return { dipencet }
  }
})
</script>
