<template>
  <div>
    <div class="container">
      <div class="row mt-2">
        <div class="col-md-12 text-end">
          <div class="cart"><i class="fa fa-bag"></i> Bag ({{ cart }})</div>
        </div>
        <div class="col-md-6">
          <div class="product-image">
            <img style="width: 400px" v-bind:src="imageDefault" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="product-info">
            <h1>{{ product }}</h1>
            <p>Product details here</p>
            <fieldset :style="{ borderStyle: updateStok ? '' : 'dotted' }">
              <ul>
                <li v-if="updateStok" v-for="detail1 in details1">{{ detail1 }}</li>
                <li v-else v-for="detail2 in details2">{{ detail2 }}</li>
              </ul>

              <ul>
                <li v-if="updateStok" v-for="availabl1 in available1">{{ availabl1 }}</li>
                <li v-else v-for="availabl2 in available2">{{ availabl2 }}</li>
              </ul>
            </fieldset>

            <p v-if="updateStok">Product Still Available</p>
            <p v-else>Product Out of Stock</p>
            <div
              v-for="(variant, index) in variants"
              :key="index"
              @mouseover="
                updateVariant(variant.detailGambar),
                  updateImage(variant.image),
                  updateButton(variant.quantity)
              "
              class="color-circle"
              :style="{ backgroundColor: variant.color }"
            >
              <span style="margin-left: 2px">{{ variant.quantity }}</span>
            </div>
            <div class="form-group" style="padding-top: 10px">
              <button
                class="btn btn-success"
                :class="{ disabledButton: !updateStok }"
                :disabled="!updateStok"
                v-on:click="addToCart"
              >
                Add to Bag
              </button>
              &nbsp; &nbsp; &nbsp;
              <button
                class="btn btn-warning"
                :class="{ disabledButton: !updateStok }"
                :disabled="!updateStok"
                v-on:click="reduceToCart"
              >
                Clear Bag
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-2">
          <Form />
        </div>
      </div>
    </div>

    <div
      class="nav-bar"
      style="text-align: center; padding-top: 10px; color: white; text-decoration: dotted"
    >
      <span>{{ product }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import Form from '~/komponen/Form.vue'
const cart = ref(0)
const product = ref('Converse Chuck 70 Plus')
const imageDefault = ref(
  'https://dynamic.zacdn.com/zUW1EkR5TvRQS3FDQAsnUdeEMzg=/filters:quality(70):format(webp)/https://static-id.zacdn.com/p/converse-2219-6637904-1.jpg'
)

const image1 = ref(
  'https://dynamic.zacdn.com/zUW1EkR5TvRQS3FDQAsnUdeEMzg=/filters:quality(70):format(webp)/https://static-id.zacdn.com/p/converse-2219-6637904-1.jpg'
)
const image2 = ref(
  'https://dynamic.zacdn.com/y-qUgkzZ4DefT2R9HCZEQ10Lf20=/filters:quality(70):format(webp)/https://static-id.zacdn.com/p/converse-5592-5540283-1.jpg'
)

const details1 = [
  `Rincian
  - Sneakers untuk daily street style dengan siluet versatile
  - Warna dark beetroot (ungu tua)
  - Upper tekstil
  - Insole tekstil
  - Rubber outsole`
]
const details2 = [
  `Rincian
- High-top sneakers desain multi hue untuk gaya urban edgy
- Warna ungu
- Upper kanvas
- Insole tekstil
- Rubber outsole
- Tali depan
- Round toe
- Produk unisex`
]

const available1 = ['EU 36', 'EU 36.5', 'Rp 839.400']
const available2 = ['EU 39', 'EU 39.5', 'Rp 839.400']

const variants = [
  { id: 1, color: 'pink', image: image1.value, quantity: 10, detailGambar: details1 },
  { id: 2, color: 'purple', image: image2.value, quantity: 0, detailGambar: details2 }
]

const addToCart = () => {
  cart.value += 1
}

const reduceToCart = () => {
  cart.value = 0
}

const selectedVariant = ref(0)
function updateVariant(index: any) {
  selectedVariant.value = index
}

const updateStok = ref(1)
function updateButton(index: any) {
  updateStok.value = index
  updateStok.value <= 0 ? 0 : 1
}

function updateImage(images: any) {
  imageDefault.value = images
}
</script>
<style scoped>
.color-circle {
  width: 25px;
  height: 25px;
  margin-top: 8px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  cursor: pointer;
  float: left;
  margin-left: 10px;
  margin-bottom: 20px;
}
.form-group {
  clear: both;
}
</style>
