<template>
  <!-- <div class="container mt-5"> -->
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
      <h1 class="display-1 fw-bold">{{ error?.statusCode }}</h1>
      <p class="fs-3"><span class="text-danger">Opps!</span>{{ error?.message }}</p>
      <p class="lead">{{ error }}</p>
      <!-- <a href="index.html" class="btn btn-primary">Go Home</a> -->
      <nuxt-link to="/" no-rel> <i class="bi bi-arrow-90deg-left"></i> &nbsp;ke Home </nuxt-link>
      <br />
      <nuxt-link to="javascript:void(0)" @click="$router.go(-1)" no-rel>
        <i class="bi bi-arrow-90deg-left"></i> &nbsp;ke Halaman Sebelumnya
      </nuxt-link>
    </div>
    <!-- </div> -->
  </div>
</template>

<script lang="ts" setup>
// defineProps(['error'])
const props = defineProps({
  error: {
    type: Object
  }
})
definePageMeta({
  layout: 'default'
})
const { error } = toRefs(props)

useSeoMeta({
  title: `Error ${props.error?.statusCode} - ${props.error?.message}`
})

useHead({
  meta: [
    { name: 'robots', content: 'noindex' },
    { name: 'author', content: 'Varian Hermianto' }
  ]
})
</script>
