<template>
  <div class="container">
    <div class="mt-5 mb-5 bg-light p-5">
      <h2>Sedang berada di halaman : {{ route.path }}, [param]: {{ route.params.isi }}</h2>
    </div>
  </div>
</template>
<script setup lang="ts">
const route = useRoute()
</script>
