<template>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Form</h5>
        <form @submit.prevent="kirim" id="form">
          {{ nama }}
          {{ poli }}
          <br />
          <label for="">Nama Lengkap</label>
          <input type="text" name="nama" id="nama" class="form-control" v-model="nama" />
          <label for="">Poli</label>
          <select name="poli" id="poli" class="form-control" v-model="poli">
            <option value="">Pilih Poli</option>
            <option value="1">Poli A</option>
            <option value="2">Poli B</option>
            <option value="3">Poli C</option>
          </select>
          <button type="submit" class="btn btn-info mt-1">Submit</button>
        </form>
      </div>
    </div>
    <div class="row" style="margin-top: 40px">
      <h5>Hasil</h5>
      <div class="col-md-4">
        {{ antrianpoli }}
      </div>
      <div class="col-md-4">
        {{ antrianpoliA }}
      </div>
      <div class="col-md-4">
        {{ antrianpoliB }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
// import { SITE_NAME } from '~/assets/js/constants.js'

import { rejects } from 'assert'
import axios, { AxiosRequestConfig } from 'axios'
import { resolve } from 'path'
import Swal from 'sweetalert2'

const antrianpoli = ref('')
const antrianpoliA = ref('')
const antrianpoliB = ref('')
const nama = ref('')
const poli = ref('')

definePageMeta({
  layout: 'default'
})

// useSeoMeta({
//   title: `${SITE_NAME} - Hello SPA World`
// })

useHead({
  meta: [
    { name: 'robots', content: 'noindex' },
    { name: 'author', content: 'Varian Hermianto' }
  ]
})

const localState = reactive({
  maxWidthPx: 470
})

const kirim = () => {
  // alert(1)
  return new Promise((resolve, reject) => {
    const formData = new FormData()
    formData.append('pasien', nama.value)
    formData.append('poli', poli.value)

    console.log(nama.value)
    const runtimeConfig = useRuntimeConfig()
    const baseURL = process.dev
      ? runtimeConfig.public.API_DEV_URL
      : runtimeConfig.public.API_PROD_URL

    const config: AxiosRequestConfig = {
      baseURL,
      method: 'POST',
      url: baseURL + '/antrian/create',
      data: formData,
      withCredentials: false,
      headers: {
        'Content-Type': 'multipart/form-data'
      }
    }

    axios(config)
      .then((response: any) => {
        // console.log('cek', response)
        Swal.fire('Berhasil', response.data.message, 'success')
        resolve(response)
        getAntrianPoli()
      })
      .catch((err: any) => {
        console.log('err', err)
        Swal.fire('Gagal', err.AxiosError.message, 'error')
        reject(err)
      })
  })
}
onBeforeMount(() => {
  // console.log('masuk onBeforeMount')
})

onMounted(async () => {
  await getAntrianPoliBBB()

  getAntrianPoliAAA()

  getAntrianPoli()
})

onUnmounted(() => {
  // console.log('masuk onUnmounted')
})

const getAntrianPoli = async () => {
  await fetchAntrianPoli()
    .then((response: any) => {
      antrianpoli.value = response.data
    })
    .catch((err: any) => {
      console.log(err)
    })
}

const getAntrianPoliAAA = async () => {
  await fetchAntrianPoliAAA()
    .then((response: any) => {
      antrianpoliA.value = response.data
    })
    .catch((err: any) => {
      console.log(err)
    })
}

const getAntrianPoliBBB = async () => {
  await fetchAntrianPoliBBB()
    .then((response: any) => {
      antrianpoliB.value = response.data
    })
    .catch((err: any) => {
      console.log(err)
    })
}

const fetchAntrianPoli = () => {
  return new Promise((resolve, reject) => {
    const runtimeConfig = useRuntimeConfig()

    const baseURL = process.dev
      ? runtimeConfig.public.API_DEV_URL
      : runtimeConfig.public.API_PROD_URL

    const config: AxiosRequestConfig = {
      baseURL,
      method: 'get',
      url: baseURL + '/antrian',
      withCredentials: false,
      headers: {
        'Content-Type': 'application/json'
      }
    }

    axios(config)
      .then((response: any) => {
        resolve(response)
      })
      .catch((err: any) => {
        reject(err)
      })
  })
}

const fetchAntrianPoliAAA = () => {
  const searchParams = new URLSearchParams()

  searchParams.append('filter_poli', '1')
  searchParams.append('filter_status', '0')

  return new Promise((resolve, reject) => {
    const runtimeConfig = useRuntimeConfig()

    const baseURL = process.dev
      ? runtimeConfig.public.API_DEV_URL
      : runtimeConfig.public.API_PROD_URL

    const config: AxiosRequestConfig = {
      baseURL,
      method: 'get',
      url: baseURL + '/antrian',
      params: searchParams,
      withCredentials: false,
      headers: {
        'Content-Type': 'application/json'
      }
    }

    axios(config)
      .then((response: any) => {
        resolve(response)
      })
      .catch((err: any) => {
        reject(err)
      })
  })
}

const fetchAntrianPoliBBB = () => {
  const searchParams = new URLSearchParams()

  searchParams.append('filter_poli', '2')
  searchParams.append('filter_status', '0')

  return new Promise((resolve, reject) => {
    const runtimeConfig = useRuntimeConfig()

    const baseURL = process.dev
      ? runtimeConfig.public.API_DEV_URL
      : runtimeConfig.public.API_PROD_URL

    const config: AxiosRequestConfig = {
      baseURL,
      method: 'get',
      url: baseURL + '/antrian',
      params: searchParams,
      withCredentials: false,
      headers: {
        'Content-Type': 'application/json'
      }
    }

    axios(config)
      .then((response: any) => {
        resolve(response)
      })
      .catch((err: any) => {
        reject(err)
      })
  })
}

const { maxWidthPx } = toRefs(localState)
</script>

<style scoped>
.card {
  border: none;
}
</style>
