<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img
          :src="inStock ? imageAdaStok : imageNoStok"
          :class="inStock ? 'img-ada-stok' : 'img-no-stok'"
          :style="{ borderStyle: inStock ? '' : 'dotted' }"
        />
      </div>

      <br />
      <div class="col-md-6">
        <button @click="toggleStock">Ganti Status Stok</button>

        <br />

        <p :style="{ color: status === 1 ? 'green' : 'red' }">
          {{ status === 1 ? 'Stok Tersedia' : 'Stok Tidak Tersedia' }}
        </p>

        <br />

        <Tombol
          :warna="Color.Green"
          :coba="{ id: 1, text: 'Halo Varian' }"
          :arrayCoba="[
            { id: 1, nama: 'yoga', umur: 32, status: false },
            { id: 1, nama: 'yoga', umur: 32, status: false }
          ]"
          :angka="1"
          @emit-dipencet="dikirim"
          >Kirim</Tombol
        >

        <br />

        <Tombol
          :warna="Color.Yellow"
          :coba="{ id: 2, text: 'Halo Edy' }"
          :angka="2"
          @emit-dipencet="diclearkan"
          >Clear</Tombol
        >

        <br />

        <Tombol
          :warna="Color.Red"
          :coba="{ id: 3, text: 'Halo Azmi' }"
          :angka="3"
          @emit-dipencet="dikirim"
          >Submit</Tombol
        >

        <br />

        isi Label : {{ label }}

        <ProductReview></ProductReview>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import Tombol from '~/komponen/Tombol.vue'
import ProductReview from '~/komponen/ProductReview.vue'

import { Color } from '~/utils/Types'

// diakses dari direktori : public/img/logo-morbis.png
// const publicImage = 'img/logo-morbis.png'

// diakses dari direktori : assets/gambar/logo-morbis.png
// const assetsImage = '_nuxt/assets/gambar/logo-morbis.png'

const imageAdaStok = 'https://www.w3schools.com/howto/img_nature.jpg'

const imageNoStok = 'https://www.w3schools.com/howto/img_snow.jpg'

const inStock = ref(false)

const label = ref('')

const toggleStock = () => {
  inStock.value = !inStock.value
}

const dikirim = (value: string) => {
  label.value = 'ada yang dikirim nih, TOMBOL : ' + value
}

const diclearkan = () => {
  label.value = ''
}

const status = computed(() => (inStock.value ? 1 : 0))
</script>

<style>
.img-ada-stok {
  border: 5px solid green;
}

.img-no-stok {
  border: 5px solid red;
}
</style>
