<template>
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-6">
        <img v-bind:src="images" />
      </div>
      <div class="col-md-6">
        <h2>{{ product }}</h2>
        <a :href="url">Klik</a>
        <p v-if="onSale">On Sale</p>
        <p v-else>Off Sale</p>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import gambar from '~/assets/images/banteng.jpeg'
const product = ref('Sepatu')
const images = ref(gambar)
const url = ref('https://google.com/')
const onSale = ref(true)
</script>
